<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>{{title}}</title>
</head>
  <body class="text-center">
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="{{url_for('static', filename='img/carousel-1.png')}}" alt="1 slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{{url_for('static', filename='img/carousel-2.png')}}" alt="2 slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{{url_for('static', filename='img/carousel-3.png')}}" alt="3 slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{{url_for('static', filename='img/carousel-4.png')}}" alt="4 slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{{url_for('static', filename='img/carousel-5.png')}}" alt="5 slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{{url_for('static', filename='img/carousel-6.png')}}" alt="6 slide">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                      crossorigin="anonymous">
                    </script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js  "
                      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                      crossorigin="anonymous">
                    </script>
                    <script src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
                      integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
                      crossorigin="anonymous">
                    </script>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Свежий сочный овощи фрукты!</a>
            {% if "username" in session %}
              {% if session["username"] == "tadzhik" %}
                Администратор {{ username }}
              {% elif session["username"] != None %}
                Пользователь {{ username }}
              {% endif %}
            <a class="navbar-brand" href="/logout">Выйти</a>
            {% endif %}
      </nav>

    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
  </body>
</html>