{% extends "base.html" %}
 
{% block content %}
    <h1>Таджику привет, э!</h1>

{% if "username" in session %}
    <div class="jumbotron">
          <h1 class="display-4">!@#Панель управления Администратора#@!</h1>
          <p class="lead">Для управления используйте кнопки</p>
          <hr class="my-4">
          <a href="{{ url_for('fruit_tadzhik') }}"><button type="button" class="btn btn-info">Фрукты</button></a>
          <a href="{{ url_for('laryok_tadzhik') }}"><button type="button" class="btn btn-info">Ларьки</button></a>
    </div>
{% endif %}

{% endblock %}